html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --primary-blue: hsl(228, 45%, 44%);
}

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100svh;
    background-color: var(--grey-900);
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: clamp(1.2rem, 3vw, 1.5rem);
}

.profile-user {
    width: 100%;
    max-width: 24rem;
    background-color: var(--grey-800);
    padding: 2.25rem 1.5rem;
    border-radius: 0.75rem;
    height: auto;
}

.profile-user, p {
    font-size: 0.875rem;
}

.profile-user__image {
    border-radius: 50%;
    object-fit: cover;
    width: 5rem;
    margin-block-end: 1.75rem;
    
}

.profile-user__name {
    color: var(--white);
    font-weight: 600;
    padding-block-end: 0.5rem;
    font-size: 1.125rem;
}

.profile-user__place {
    color: var(--green);
    font-weight: 600;
    padding-block-end: 1.75rem;
    font-size: 0.875rem;
}

.profile-user__career {
    color: var(--white);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    padding-block-end: 1.75rem;
    opacity: 0.85;
}

.profile-user__buttons {
    display: grid;
    gap: 1rem;
}

.profile-user__button {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    background-color: var(--grey-700);
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;

    cursor: pointer;
}

.profile-user__button:hover {
    background-color: var(--green);
    color: var(--grey-800);
}

.profile-user__button:focus-visible {
    outline: 2px solid var(--green);
    outline-offset: 0.1875rem           ;
}



.attribution { 
    width: 100%;
    max-width: 24rem;
    color: var(--white);
    font-size: 0.6875rem; 
    text-align: center; 
    opacity: 0.7;
}
.attribution a { 
    color: var(--primary-blue); 
    text-decoration: none;
}

.attribution a:hover,
.attribution a:focus-visible {
    text-decoration: underline;
}

@media (min-width: 768px){
    .profile-user {
        max-width: 24rem;
        padding: 2.5rem;
    }

    .profile-user__name {
        font-size: 1.25rem;
    }

    .profile-user__button {
        padding: 0.95rem
    }
}

@media (hover: hover) {
    .profile-user__button:hover {
        background-color: var(--green);
        color: var(--grey-900);
    }
}