html {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-white);
    font-weight: var(--weight-regular);
    font-size: var(--text-fixed-s);
    -webkit-text-size-adjust: 100%;
}
